<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h2>Projects Index</h2>

      <% @projects.each do |project| %>
          <div class="row">
            <%= link_to  project.name, project_path(project.id) %>
          </div>
      <% end %>

      <%= link_to "New Project", new_project_path, class:"btn btn-default" %>
    </div>
  </div>
</div>
